#logoMAES, #logoMAESlg{
	width:400px;
	height:300px;
}

#info-title{
	text-align: center;
}

@media (max-width: 767px){
	body{
		font-size: 12px;
	}

	.jumbotron {
	  	padding: 2.5px;
	  	padding-top: 0px;
	}

	#logoMAES{
		width:75px;
		height:50px;
		margin-top: 0px;
		margin-left: 50px;
	}

	#logoMAESlg{
		width:275px;
		height:250px;
	}

	#logoTec {
		width: 75%;
		height: 75%;
	}

	@media (max-width: 480px){
		#logoMAES{
			margin-top: 0px;
			margin-left: 0px;
		}
	}
}